<!--<div class="wrapper"> -->
  <div class="chartWrapper">

  <!-- [datasets]="datasets" -->

<!--  <div class="a"> -->
  <!-- <div style="display: block; width: 600px; height: 500px; overflow-x: scroll;"> -->
    <div class="chartAreaWrapper">
    <!--<canvas id = "myChart" baseChart class="chart" -->
    <canvas id="ekgChart" baseChart width="600" height="400" >
            [chartType]="ekgChartType"
            [labels]="ekgLabels"
            [datasets]="ekgDatasets"
            [options]="ekgOptions">
    </canvas>
   </div>
<!--  </div> -->

</div>
