
<div style="width: 100%; overflow-x: auto; overflow-y: auto">

<!-- <div style="display: block; width: 600px; height: 500px;"> -->


  <div style="width: 3000px; height: 500px">

  <!--<canvas id = "myChart" baseChart class="chart" -->
       <canvas id="ekgChart" baseChart width="1200" height="400"
               [chartType]="ekgChartType"
               [labels]="ekgLabels"
               [datasets]="ekgDatasets"
               [options]="ekgOptions">
       </canvas>
     </div>

  <!--  </div> -->

</div>
