/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";  */

@import '~@angular/material/theming';
/* Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!  */

@include mat-core();

$md-hmkthm: (
50 : #e8eaf6,
100 : #c5cae9,
200 : #9fa8da,
300 : #7986cb,
400 : #5c6bc0,
500 : #3f51b5,
600 : #3949ab,
700 : #303f9f,
800 : #004e7d,
900 : #1a237e,
    A100 : #8c9eff,
    A200 : #536dfe,
    A400 : #3d5afe,
    A700 : #304ffe,
    contrast: (
50 : #000000,
100 : #000000,
200 : #000000,
300 : #ffffff,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
)
);

$md-accent: (
50 : #fdf5ea,
100 : #fbe6ca,
200 : #f8d6a7,
300 : #f5c683,
400 : #f2b969,
500 : #f0ad4e,
600 : #eea647,
700 : #ec9c3d,
800 : #e99335,
900 : #ffc107,
    A100 : #ffffff,
    A200 : #fff5ec,
    A400 : #ffdab9,
    A700 : #ffcca0,
    contrast: (
50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #000000,
600 : #000000,
700 : #000000,
800 : #000000,
900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
)
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hmk-primary: mat-palette($md-hmkthm, 800);
$hmk-accent: mat-palette($md-accent, 900);

$hmk-navbar: mat-palette($mat-grey, A100);

// The warn palette is optional (defaults to red).
$hmk-warn: mat-palette($mat-red, 600);

// Create the theme object (a Sass map containing all of the palettes).
$hmk-theme: mat-light-theme($hmk-primary, $hmk-accent, $hmk-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($hmk-theme);

// Workaround for https://github.com/angular/material2/issues/4580.
mat-form-field .mat-form-field {
&-underline {
   position: static;
 }
&-subscript-wrapper {
   position: static;
 }
}


.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -9999;
  background: url('/assets/img/bg_top.png') repeat-y, url('/assets/img/bg_bottom.png') repeat-y;
  background-size: 100% 100%;
}

.flex-spacer {
  flex: 1 1 auto;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important;
}



.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

mat-form-field {
  width: 90%;
}


.flex-container {
  @media screen and (min-width: 640px){
    display: flex;
  }
}

.wrapper {
  margin: auto;
  max-width: rem-calc(1200);
}


.mat-toolbar-row {
  flex: 1;
}





.blockFormGrow {
  display: block;
  padding-right: 12px;
  flex-grow: 1;
}

.form-group textarea {
  border: 2px solid #D2D2D2;
  transition: border-color 1s;
  background-image:none;

}

.is-focused textarea {
  border: 3px solid #009688;
}



.blockForm {
  display: block;
  padding-right: 5px;
  padding-left: 5px;
  flex-shrink: 2;
}


.basic-checkbox {
  padding-right: 15px;
  align-content: flex-start;
  align-items: center;
  height: 60px;
}


.my-panel {
  width: 80px !important;
  padding-right: 10px;
//  display: flex;
//  flex-direction: column;
//  justify-content: space-between;
}


/////////////////////////////////
//
//  Custom Card layout with grids
//
/////////////////////////////////

.cardInner {
  display: grid;
  grid-template-areas: "header header" "side content" "footer footer";
  grid-template-rows: auto auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  background-color: #eee;
  padding : 20px;
  gdRows:"auto auto auto";

  h3 {
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   };

   p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;

  }
}


.cardInner2 {
  display: grid;
  grid-template-areas: "side content";
  grid-template-rows: auto auto;
  flex: 1;
  background-color: #eee;
  padding : 20px;
}


////////////////////////////////////////
//
//  mat-cards used in the mat-grid
//
////////////////////////////////////////


.custom-card {
  width: 100%;
  height: 70%;
  border-radius: 2px;
  margin: 20px 20px 20px 20px;
  background-color: #fffffc;
  color: black;
  border: 1px solid;
}



.custom-card-2 {
  width: 100%;
  height: 80%;
  border-radius: 2px;
  margin: 20px 20px 20px 20px;
  background-color: #fffffc;
  color: black;
  border: 1px solid;


  .mat-card-title {
    display: block;
    margin-bottom: 8px;
    padding-top: 20px;
  }



  .mat-divider {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }



}


// this is for 2 x 2 grid FlexBox
// do not user any Flex Layouts
// when using grid2x2
.grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 > div {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box { margin: 20px; }
.box1 { background-color: #fffcff;
  height: 300px;
  width: 600px;
 }
.box2 { background-color: #fcffff;
  height: 50px;
  width: 50px;
}


.box3 { background-color: #fffcff; }
.box4 { background-color: #fcffff; }




#myCanvas {
  display: block;
  border: 1px solid #8C8C8C;
  margin: 50px auto;
  background-color: #F2F2F2;
}



.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 400px 10px 75px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;

}

.a {
  grid-column: 1 / 3;
  grid-row: 1;
}
.b {
  grid-column: 3 ;
  grid-row: 1 / 3;
}
.c {
  grid-column: 1 / 3 ;
  grid-row: 2 ;
}
.d {
  grid-column: 3;
  grid-row: 2;
}


.hmk-blockFormShort {
  padding-left: 35px;
  width: 30%;
  margin: 0px;
}

.hmk-buttons {
  margin-right: 20px;
  padding-right: 35px;
}

.flex-spacer {
  flex: 1 1 auto;
}

.spacer {
  padding-left: 15px;
  padding-right: 15px;
}

