

<form [formGroup]="myForm" style="background-color: #fff">

    <div class="hm-small-form-field">
        <label  for="temp">Temperature :</label>
            <span>
        <input class="temperature-font-size" name="temp" id="temp"
               type="text" formControlName="temperature" readonly/>
        </span>

    </div>

    <div class="wrapper1">

   <!-- -------------------------- Heart Rate Section ------------------------->

   <div class="a">
      <!--<canvas id = "myChart" baseChart class="chart" -->
    <canvas id="hrChart" baseChart class="chart"
              [chartType]="'line'"
              [datasets]="hrDatasets"
              [options]="hrChartOptions">
      </canvas>
    </div>


   <div class="b">
      <div>Heart Rate </div>
      <mat-form-field class="hm-form-field">
        <input matInput type="text" formControlName="heartRate" >
      </mat-form-field>
    </div>



        <!--- ---------------------------- SpO2 Section ------------------------->

    <div class="c">
      <canvas id="spo2Chart" baseChart class="chart"
              [chartType]="'line'"
              [datasets]="spo2Datasets"
              [options]="spo2ChartOptions">
      </canvas>
    </div>


    <div class="d">
      <div>Oxygen </div>
      <mat-form-field class="hm-form-field">
        <input matInput type="text" formControlName="SPO2" >
      </mat-form-field>
    </div>








    <!--    <div class="box box4">
          <div>Oxygen Level</div>
          <mat-form-field class="hm-form-field">
            <input matInput type="text" formControlName="SPO2" >
          </mat-form-field>
        </div>   -->

<!--    <div class="box box2">
      <div>Blood Pressure</div>
      <mat-form-field class="hm-form-field">
        <input matInput type="text" myForm="bloodPressure"  >
      </mat-form-field>
    </div>

    <div class="box box3">
      <div>Temperature</div>
      <mat-form-field class="hm-form-field">
        <input matInput type="text" myForm="temperature" >
      </mat-form-field>
    </div>   -->


 <!-- <canvas #hrCanvas id="myCanvas" width="500" height="400" >
  </canvas>  -->
  </div>
</form>
